
@{
    ViewData["Title"] = "SingleBlog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="blog_slider_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="blog_slider_box">
                    <h2>Reseñas y comentarios</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="breadcumb_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="bread_box">
                    <ul class="breadcumb">
                        <li><a href="/Home/Index">inicio <span>|</span></a></li>
                        <li><a href="/Home/Blog">blog <span></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="blog_page_area">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="single_blog_in_page">
                    <div class="blog_img_l"><img src="~/sistema/~/sistema/images/blog_page2.jpg" alt="" /></div>
                    <!--<div class="blog_date_in_page">
                        <h2>_ <span>18</span></h2>
                        <p>april 2015</p>
                    </div>
                    <div class="blog_text_in_page">
                        <h3>this is blog design for mens wear shop</h3>
                        <h4>By <span>Admin</span>,   comments  <span>23</span>,   summer special</h4>
                    </div>
                    <div class="blog_detail_in_page">
                        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam volupitatemne quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magnsi dolores eos qui ratione voluptatem sequi nesciuntsa Neque porro quisquam est, qui dolorem  totam rem aperiam,Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitaelan dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magniyas dolores eos qui ratione voluptatem sequi nesciunt. Nequeo porro quisquam est.</p>
                        <ul id="single_blog_nav">
                            <li><a href=""><i class="fa fa-caret-right"></i> Nemo enim ipsam volupitatem quia voluptas sit aspernatur aut odit aut fugit.</a></li>
                            <li><a href=""><i class="fa fa-caret-right"></i> Dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nonas.</a></li>
                            <li><a href=""><i class="fa fa-caret-right"></i> Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil.</a></li>
                        </ul>
                        <p>Taque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam volu pitatemna quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciuntsal Neque porro quisquam est, qui dolorem  totam rem aperiam,<br><br>

                        Saque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam volu pitatemoa quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciuntsia Neque porro quisquam est qui dolorem  totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitaelan dicta sunt explicabo Nemo enim ipsam voluptatem quia voluptas.
                        </p>
                    </div>
                    <div class="share">
                        <span>12 shares</span>
                    </div>-->
                    <div class="comments">
                        <h2>Reseñas(3)</h2>
                        <div class="multi_line"></div>
                        <div class="single_comment">
                            <div class="comment_img">
                                <img src="~/sistema/images/comment1.png" alt="" />
                            </div>
                            <div class="comment_text">
                                <div class="comment_name">
                                    <h3>MICHAEL SOLIS  |   <span>April 01, 2021 at 5.00 pm</span></h3>
                                </div>
                                <div class="reply"><span>Reply</span></div>
                                <div class="comment-detail">
                                    <p>
                                        Increible el servicio brindado de parte de la tienda, me encanto, ademas el producto era de buena
                                        calidad y estaba fresco.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="single_comment even">
                            <div class="comment_img">
                                <img src="~/sistema/images/comment1.png" alt="" />
                            </div>
                            <div class="comment_text">
                                <div class="comment_name">
                                    <h3>KARINA SOSA   |   <span>April 04, 2021 at 5.00 pm</span></h3>
                                </div>
                                <div class="reply"><span>Reply</span></div>
                                <div class="comment-detail">
                                    <p>
                                        He probado varias tiendas de pollos y embutidos cerca de casa sin embargo ninguna
                                        se puede comparar a pollos kevin.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="single_comment">
                            <div class="comment_img">
                                <img src="~/sistema/images/comment1.png" alt="" />
                            </div>
                            <div class="comment_text">
                                <div class="comment_name">
                                    <h3>MANUEL SANCHEZ  |   <span>April 18, 2015 at 5.00 pm</span></h3>
                                </div>
                                <div class="reply"><span>Reply</span></div>
                                <div class="comment-detail">
                                    <p>
                                        Increible el producto sin embargo tuve problemas con la pagina la primera ve que
                                        intente realizar el pedido.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="share_icons">
                        <ul id="share_icon">
                            <li><a class="fa fa-facebook" href=""></a></li>
                            <li><a class="fa fa-twitter" href=""></a></li>
                            <li><a class="fa fa-google-plus" href=""></a></li>
                            <li><a class="fa fa-linkedin" href=""></a></li>
                        </ul>
                    </div>

                    <div class="leave_a_reply">
                        <h2>Deja tu reseña</h2>
                        <div class="multi_line"></div>
                        <div class="left_input">
                            <p>Nombre<span>*</span></p>
                            <input type="text" /><br>
                            <p>Comentario<span>*</span></p>
                            <input type="text" /><br>

                        </div>
                        <div class="right_input">
                            <p>Reseña</p>
                            <textarea name="" cols="30" rows="10"></textarea>
                            <input type="submit" value="Enviar Reseña" />
                        </div>
                    </div>

                </div>

            </div>
        </div>
</section>

<!-- JS Files -->
<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
    $(function () {
        $("#slider-range").slider({
            range: true,
            min: 150,
            max: 1500,
            values: [520, 1100],
            slide: function (event, ui) {
                $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
            }
        });
        $("#amount").val("$" + $("#slider-range").slider("values", 0) +
            " - $" + $("#slider-range").slider("values", 1));
    });
</script>
<script src="~/sistema/js/owl.carousel.min.js"></script>
<script src="~/sistema/js/lightbox.min.js"></script>
<script src="~/sistema/js/jquery.elevatezoom.js"></script>
<script src="~/sistema/js/bootstrap-select.min.js"></script>
<script src="~/sistema/js/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
<script src="~/sistema/js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script src="~/sistema/js/rs-plugin/rs.home.js"></script>
<script src="~/sistema/js/bootstrap.min.js"></script>
<!--Opacity & Other IE fix for older browser-->
<!--[if lte IE 8]>
    <script type="text/javascript" src="js/ie-opacity-polyfill.js"></script>
<![endif]-->
<script src="~/sistema/js/main.js"></script>

