<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sistema_PollosKevin</title>
    <!-- fonts files -->
    <link href='http://fonts.googleapis.com/css?family=Cabin:400,500,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>


    <!-- Font awesome css -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <!-- Owl carousel css -->
    <link rel="stylesheet" href="~/sistema/css/owl.carousel.css">
    <link rel="stylesheet" href="~/sistema/css/owl.transitions.css">
    <link rel="stylesheet" href="~/sistema/css/owl.theme.css">

    <!-- bx-slider css -->
    <link rel="stylesheet" href="~/sistema/css/jquery.bxslider.css">

    <!-- bootstrap select css -->
    <link rel="stylesheet" href="~/sistema/css/bootstrap-select.min.css">

    <!-- lightbox css -->
    <link rel="stylesheet" href="~/sistema/css/lightbox.css">

    <!-- Revolution slider css -->
    <link href="~/sistema/js/rs-plugin/css/settings.css" rel="stylesheet" />

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="~/sistema/css/bootstrap.css">

    <!-- Custom css -->
    <link rel="stylesheet" href="~/sistema/style.css">
    <link rel="stylesheet" href="~/sistema/css/responsive.css">

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" href="~/sistema/images/apple-touch-icon-precomposed.png">
    <link rel="shortcut icon" type="image/ico" href="~/sistema/images/favicon.ico" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="header_top">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="header_top_left">
                        <!--<img src="images/car.png" alt="Header Car Icon" />-->
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="header_top_right floatright">
                        <!--<p><a href="">Iniciar sesión</a> / <a href="">registrarse</a></p>-->
                        <nav class="currency alignleft">
                            </li>
                            </ul>
                        </nav>
                        <div class="top-flag alignleft">
                            <img src="~/sistema/images/bandera.jpg" alt="Flags" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="header_left floatleft">
                        <a class="fa fa-search" href=""></a>
                        <input type="text" placeholder="buscar" />
                    </div>
                </div>
                <div class="col-md-6 col-sm-5 col-xs-12">
                    <div class="header_center">
                        <a href="/Home/Index"><img src="~/sistema/images/logo.jpg" alt="Site Logo" /></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="header_right floatright">
                        <ul class="checkout">
                            <!--<li><a href="/Home/Checkout"><i class="fa fa-heart-o"></i>wishlist</a></li>-->
                            <!--<li class="mobi_right_li"><a href="/Home/Checkout"><i class="fa fa-shopping-cart"></i>checklist</a></li>-->
                        </ul>
                        <!--<div class="w_likes">
                            <span>3</span>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="nav_area">
        <div class="container">
            <!--
            <div class="nav_left floatleft">
                <a href="/Home/Category1">Categorías<i class="fa fa-bars"></i></a>
                <div class="cat_mega_menu">
                        <div class="cat_left">
                            <h5>Shirts</h5>
                            <div class="cat_menu_line"></div>
                            <ul class="cat_nav">
                            </ul>
                        </div>
                        <div class="cat_middle">
                            <h5>T Shirts</h5>
                            <div class="cat_menu_line"></div>
                            <ul class="cat_nav">
                            </ul>
                        </div>
                        <div class="cat_middle_right">
                            <h5>trousers fit</h5>
                            <div class="cat_menu_line"></div>
                            <ul class="cat_nav">
                            </ul>
                        </div>
                        <div class="cat_img">
                            <img src="~/sistema/images/menu_cat.png" alt="" />
                        </div>
                </div>
            </div>
            -->
            <div class="nav_center">
                <nav class="mainmenu">
                    <ul id="nav">
                        <li class="current-page-item">
                            <a href="/Home/Index">Inicio</a>
                            <ul id="sub-menu4">
                            </ul>
                        </li>
                        <li>
                            <a href="/Home/Category2">Productos</a>
                            <!--<ul id="sub-menu7">
        <li><a href="/Home/ProductDetail">Product Detail Page</a></li>
    </ul>-->
                        </li>
                <li>
                    <a href="/Home/Checkout">Cotizaciones</a>
                    <ul id="sub-menu">
                    </ul>
                </li>
                <li>
                    <a href="#">Información</a>
                    <ul id="sub-menu5">
                        <li><a href="/Home/Cart">Carro de compras</a></li>
                        <!--<li><a href="/Home/SingleBlog">Sobre nosotros</a></li>-->
                        <li><a href="/Home/Contact">Contacto</a></li>
                    </ul>
                </li>
                <li><a href="/Home/SingleBlog">Reseñas</a></li>
            </ul>
        </nav>
    </div>
    <div class="nav_right floatright">
        <a href="/Home/Cart"><img src="~/sistema/images/bag.png" alt="Bag" />Carrito</a>
        <div class="cart_menu">
            <div class="cart_items">
                <div class="c_item_img floatleft">
                    <a href="/Home/ProductDetailH"><img src="~/sistema/images/c_item1.jpg" alt="" /></a>
                </div>
                <div class="c_item_totals floatleft">
                    <div class="c_item_totals_detail floatleft">
                        <a href="/Home/ProductDetail"><h5>Pechuga</h5></a>
                        <span>2 x ₡ 4000</span>
                    </div>
                    <div class="close_icon_cart floatleft">
                        <img src="~/sistema/images/close.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="cart_items">
                <div class="c_item_img floatleft">
                    <a href="/Home/ProductDetail"><img src="~/sistema/images/c_item2.jpg" alt="" /></a>
                </div>
                <div class="c_item_totals floatleft">
                    <div class="c_item_totals_detail floatleft">
                        <a href="/Home/ProductDetail"><h5>Alas</h5></a>
                        <span>2 x ₡ 3000</span>
                    </div>
                    <div class="close_icon_cart floatleft">
                        <img src="~/sistema/images/close.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="cart_totals">
                <div class="c_totals_left floatleft">
                    <p>Total ₡2000 </p>
                </div>
                <!--<div class="c_totals_right floatleft">
        <p>total   $350</p>
    </div>-->
            </div>
            <div class="cart_view_bottom">
                <div class="c_totals_left floatleft">
                    <a href="/Home/Cart">Ver Carrito</a>
                </div>
                <!--<div class="c_totals_right floatleft">
        <a href="/Home/Checkout">Check Out</a>
    </div>-->
            </div>
        </div>
    </div>


    <!-- MOBILE ONLY CONTENT -->
                        <div class="only-for-mobile">
                            <ul class="ofm">
                                <li class="m_nav"><i class="fa fa-bars"></i> Navigation</li>
                            </ul>

                            <!-- MOBILE MENU -->
                            <div class="mobi-menu">
                                <div id='cssmenu'>
                                    <ul>
                                        <li class='has-sub'>
                                            <a href='/Home/Index'><span>Home</span></a>
                                            <ul class="sub-nav">
                                                <li><a href="/Home/Index"><span>Home 1</span></a></li>
                                                <li><a href="/Home/Index2"><span>Home 2</span></a></li>
                                            </ul>
                                        </li>

                                        <li class='has-sub'>
                                            <a href='/Home/Category1'><span>category</span></a>
                                            <ul>
                                                <li class='has-sub'>
                                                    <a href='#'><span>Shirts</span></a>
                                                    <ul>
                                                        <li><a href="#"><span>check shirts</span></a></li>
                                                        <li><a href="#"><span>denim shirts</span></a></li>
                                                        <li><a href="#"><span>long sleeve shirts</span></a></li>
                                                        <li><a href="#"><span>denim shirts</span></a></li>
                                                        <li class="last"><a href="./#"><span>long sleeve shirts</span></a></li>
                                                    </ul>
                                                </li>
                                                <li class='has-sub'>
                                                    <a href='#'><span>T Shirts</span></a>
                                                    <ul>
                                                        <li><a href="#"><span>plain T-shirt</span></a></li>
                                                        <li><a href="#"><span>printed T-shirt</span></a></li>
                                                        <li><a href="#"><span>sports T-shirt</span></a></li>
                                                        <li><a href="#"><span>striped T-shirt</span></a></li>
                                                        <li class='last'><a href="#"><span>V-Neck T-Shirt</span></a></li>
                                                    </ul>
                                                </li>
                                                <li class='has-sub'>
                                                    <a href='#'><span>trousers fit</span></a>
                                                    <ul>
                                                        <li><a href="#"><span>flexible waist</span></a></li>
                                                        <li><a href="#"><span>regular fit</span></a></li>
                                                        <li><a href="#"><span>slim fit</span></a></li>
                                                        <li><a href="#"><span>tailored fit</span></a></li>
                                                        <li class='last'><a href="#"><span>tight fit</span></a></li>
                                                    </ul>
                                                </li>
                                                <li class="img-nav">
                                                    <div class="container">
                                                        <div class="clearfix"></div>
                                                        <div class="space20"></div>
                                                        <div class="clearfix"></div>
                                                        <div class="row in1">
                                                            <div class="col-md-6">
                                                                <a href="#"><img src="~/sistema/images/menu_cat.png" class="img-responsive" alt="" /></a>
                                                            </div>
                                                            <div class="col-md-6">
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="space20"></div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <div class="space20"></div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href='/Home/Category2'><span>shop</span></a>
                                        </li>
                                        <li class='has-sub'>
                                            <a href='/Home/Category1'><span>Cotizaciones</span></a>
                                            <ul class="sub-nav">
                                            </ul>
                                        </li>
                                        <li class='has-sub'>
                                            <a href='#'><span>pages</span></a>
                                            <ul id="sub-nav">
                                                <li><a href="/Home/Category1">Category page</a></li>
                                                <li><a href="/Home/Category2">Category page without filter</a></li>
                                                <li><a href="/Home/Checkout">Checkout page</a></li>
                                                <li><a href="/Home/Cart">Cart page</a></li>
                                                <li><a href="/Home/ProductDetail">Product detail page</a></li>
                                                <li><a href="/Home/Blog">Blog</a></li>
                                                <li><a href="/Home/SingleBlog">Blog single</a></li>
                                                <li><a href="/Home/Contact">Contact page</a></li>
                                                <li><a href="404.html">404 page</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href='/Home/Blog'><span>Blog</span></a>
                                        </li>
                                        <li>
                                            <a href='/Home/Cart'><span>cart</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- MOBILE ONLY CONTENT -->
</div>
    </section>
    @RenderBody()

    <footer class="entire_footer_area">
        <div class="footer_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="single_widget">
                            <h5>Informacion</h5>
                            <div class="wid_line"></div>
                            <ul class="widget_nav">
                                <li><a href="">Productos</a></li>
                                <li><a href="">Descuentos y promociones</a></li>
                                <li><a href="">Noticias</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--
    <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="single_widget">
            <h5>Mi cuenta</h5>
            <div class="wid_line"></div>
            <ul class="widget_nav">
                <li><a href="">Mi cuenta</a></li>
                <li><a href="">Informacion pesonal</a></li>
                <li><a href="">Historial</a></li>
            </ul>
        </div>
    </div>
    -->
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="single_widget">
                            <h5>Información de contacto</h5>
                            <div class="wid_line"></div>
                            <address>
                                Dirección : 150 metros este de correos de Guadalupe<br>
                                San Jose, Costa Rica<br>
                                Número : 2447 2349<br>
                                Email : gustavocarbajalgamboa@hotmail.com
                            </address>
                            <!--<ul class="wid_social">
                <li><a class="fa fa-facebook" href=""></a></li>
                <li><a class="fa fa-twitter" href=""></a></li>
                <li><a class="fa fa-google-plus" href=""></a></li>
                <li><a class="fa fa-pinterest" href=""></a></li>
                <li><a class="fa fa-rss" href=""></a></li>
            </ul>
            -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="footer_bottom">
                            <p>Copyright &copy; 2021 <a href="/Home/Index">Pollos Kevin</a>. All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="~/sistema/js/bootstrap-select.min.js"></script>
    <script src="~/sistema/js/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script src="~/sistema/js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/sistema/js/rs-plugin/rs.home.js"></script>
    <script src="~/sistema/js/bootstrap.min.js"></script>
    <!--Opacity & Other IE fix for older browser-->
    <!--[if lte IE 8]>
        <script type="text/javascript" src="js/ie-opacity-polyfill.js"></script>
    <![endif]-->
    <script src="~/sistema/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
